<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  
  <div>
    <label>Hero ID: </label><label>{{ hero.id }}</label><br>
  </div>
  <div>
    <label for="hero-name">Hero name: </label>
    <mat-form-field floatLabel = "never">
      <input matInput id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" />
    </mat-form-field>

  </div>
  <div>
    <span><label>Money: </label> </span><label>{{ hero.money }}</label><br>
    <button mat-raised-button (click)="click()"><a routerLink="/items-free/{{hero.id}}">Buy Item</a></button>
    <button mat-raised-button (click)="goBack()">Go back</button>
    <button mat-raised-button (click)="save()">Save</button>
  </div>
 
    <div class="items" *ngFor="let item of hero.items"> 
          <app-item-detail [item]="item" (deleteEvent)="sellItems(item)"></app-item-detail>
    </div> 
</div>


    