html{
  margin-left: 25px;
  margin-top: 25px;
}

h1 {
  margin-bottom: 0;
  font-weight: bolder;
  }

/*
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #cef0ff;
  color: #2445a8;
  border-radius: 4px;
  font-weight: bold;
}
*/

nav a {
  color: #2445a8;
  font-weight: bold;
}

nav a.active {
  background-color: black;
}

.navbar {
  justify-content: space-between;
}

a{
  padding: 1rem;
}

nav a:hover{
  font-size: 115%;
}
